<div class="container-fluid h-100">
    <div class="row h-100 lobby">
        <div class="col-xl-4 col-lg-5 offset-1">
            <span class="name" *ngIf="!sharedLinkUser">{{"Your lobby"}}</span>
            <span class="name" *ngIf="sharedLinkUser">{{"Waiting for the host..."}}</span>
            <div class="mt-5">
                <span class="d-block">Participants</span>
                <div class="overflow-auto px-1 scroll text-center">
                    <div class="mt-4">
                         <span *ngIf="users.length <= 0" class="no-users">
                            {{"There are no participants yet."}}
                        </span>
                    </div>
                    <div *ngFor="let user of users" class="button-2 w-100 p-2 pl-3 text-left mt-4">
                        <span>{{ user.username }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 offset-xl-2 offset-lg-1 my-auto">
            <div class="row">
                <host-selector [host]="host"></host-selector>
                <button *ngIf="!sharedLinkUser && users.length <= 0" disabled class="button-3 w-100 p-2 mt-n">
                    <span>{{ "Waiting for participants"}}</span>
                </button>
                <button *ngIf="!sharedLinkUser && users.length >= 1" class="button-1 w-100 p-2 mt-n">
                    <span>{{ "Start the game!"}}</span>
                </button>
            </div>
        </div>
    </div>
</div>
