<div class="container-fluid h-100">
    <div class="row setup">
        <div class="col-4 offset-1">
            <span class="name">{{"Setup your game"}}</span>
            <div class="mt-5">
                <span>{{"Number of rounds"}}</span>
            </div>
            <div class="mt-5">
                <span class="d-block">Card packs</span>
                <div class="overflow-auto px-1 scroll">
                </div>
            </div>
        </div>
        <div class="col-4 offset-2 h-100 my-auto">
            <div class="row h-100 d-flex justify-content-center">
            </div>
        </div>
    </div>
</div>
