<div class="container-fluid h-100 my-auto">
    <div class="row h-100 d-flex justify-content-center">
        <div class="col-6-md my-auto">
            <span>The Game With Funny Cards</span>
            <button class="w-100 button-1">
                <span>Start Game</span>
            </button>
            <button class="">
                <span>Start Game</span>
            </button>
            <button class="">
                <span>Start Game</span>
            </button>
        </div>
    </div>
</div>
