<div class="container-fluid h-100">
    <div class="row h-100 p-5 text-left">
        <p class="mt-2">Privacy Policy</p>
        <p class="mt-4">
            TheGameWithFunnyCards physically can't collect data. We have nowhere to store it.
            We don't even have a server database to store it.
            So even if Justin Bieber asked nicely to see your data, we wouldn't have anything to show him.
        </p>
        <p class="mt-2">
            That's why, with TheGameWithFunnyCards, what happens on your computer/smartphone stays on your computer/smartphone.
        </p>
    </div>
</div>
