/* stylelint-disable */
$nav-button-color: #00838f;
$loadingGreen: #008744;
$loadingBlue: #0057e7;
$loadingRed: #d62d20;
$loadingYellow: #ffa700;
$loadingWhite: #eee;
$loadingBackground: #aaa;

$gameBlack: #414141;
$gameDarkGrey: #5D5D5D;
$gameGrey: #838383;
$gameGrey2: #707070;
$gameGrey3: #CBCBCB;
$gameLightGrey: #F2F2F2;
$gameRed: #EB5050;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
);
