@import "../../../../style/_variables.scss";

.game{
  padding-top: 4%;

  span{
    margin-left: 9.333%;
    font-size: 40px !important;
    font-weight: bold;
  }


  .name{
    text-align: left;
    font-size: 43px !important;
    font-weight: bold;
  }

  .clicked, .nothing-selected{
    background: $gameDarkGrey;
    color: $gameLightGrey;
    box-shadow: 3px 3px 4px #00000066;
  }

  .button-3{
    box-shadow: none;
  }

  .mt-n {
    margin-top: 25%;
  }

  .no-users {
    color: $gameDarkGrey;
    font-size: 33px !important;
  }
}

.bottom-sheet{
    height: 400px;
    width: 25%;
    margin-left: 7.3333%;
    position: fixed;
    bottom: 0;
}
